html {
  overflow-x: hidden;
}

.introducao {
  position: relative;
}

.introducao .container img {
  margin-left: 100px;
  padding-bottom: 42px;
}

.galaxia-blue {
  background: url("../../img/galaxia-fundo-otimizada.jpg") no-repeat;
  display: grid;
  grid-template-columns: auto;
}

.galaxia-black {
  overflow: hidden;
}

.galaxia-estrelada {
  background: url("../../img/fundo-preto-estrelas.png") no-repeat;
  display: grid;
  grid-template-columns: 1fr;
}

.galaxia img {
  margin-left: 50px;
}

.planeta {
  display: grid;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
}

.planeta:first-child {
  padding-top: 100px;
}

.planeta:last-child {
  padding-bottom: 120px;
}

@media (max-width: 800px) {
  .planeta {
    grid-template-columns: auto;
  }
  .planetas {
    justify-self: center;
  }
}

@media (max-width: 450px) {
  .galaxia-blue {
    display: block;
  }
  .galaxia-estrelada {
    display: block;
  }
  .planeta {
    padding: 0px;
    display: block;
  }
  .terra {
    padding: 0px;
  }
  html {
    overflow-x: hidden;
  }
}
